
.borderBox{
    /*-fx-border-width: 1px;*/
    /*-fx-border-color: red;*/
}
.imageLogo{
    -fx-border-width: 1px;
    -fx-border-color: blue;
}
.textInput{
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 3px;
    -fx-alignment: center;
}

VBox, HBox, GridPane{
    -fx-alignment: center ;
}
Button{
    -fx-padding: 8px 15px;
    -fx-border-insets: 5px;
    -fx-background-insets: 3px;
    -fx-background-color: white;
}

